@model WebUI.Models.UrunVM
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <table class="table">
    <tr>
        <td>Urun Adi</td>
        <td>Acıklaması</td>
        <td>Fiyat</td>
    </tr>        
        @foreach (var item in Model.Urunler)
        {
            <tr>
                <td>@item.UrunAdi</td>
                <td>@item.UrunAciklama</td>
                <td>@item.Fiyat</td>
                <td><a class="btn btn-xs btn-success" asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@item.UrunId">add to cart</a></td>
            </tr>
        }
    </table>
</div>